<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
</head>
<body>
   <div id="task">
 <div 
 v-for="todo in todos" 
 :key="todo.title"
  :style="{textDecoration: todo.checked? 'line-through':'none'}">
 <input type="checkbox" v-model="todo.checked">
  <div>{{todo.title}}</div>
 </div>
   </div> 

   <script>
    var A = new Vue({
        el:"#task",
        data:{
            todos:[
                {title:"Task1", checked:true},
                {title:"Task2", checked:false},
                {title:"Task3", checked:false}
            ]
        }
    })
   </script>
    
</body>
</html>